<h1>Stage 1</h1>

<p>To get to the next stage, you must read the value of the headers <code><b>{{ config.NEXT_URL_HEADER }}</b></code> and <code><b>{{ config.NEW_SESSION_ID_HEADER }}</b></code> .</p>
<p>Every page you send a <code>GET</code> request to will respond with the location of the next page you must send a <code>GET</code> to.</p>
<p>For example if the response to your <code>GET</code> request starts like this:</p>
<pre>HTTP/1.0 200 OK
Content-Type: text/html; charset=utf-8
Transfer-Encoding: chunked
Connection: keep-alive
<b>{{ config.NEXT_URL_HEADER }}: foo123.html</b>
<b>{{ config.NEW_SESSION_ID_HEADER }}: abcdef01-2345-6789-0abc-def012345678</b>
Server: nginx/1.14.0 (Ubuntu)
Date: {{ now }}</pre>
<p>Then the next URL will be: {{ url_for('random_url', _external=True, path='foo123.html', **{'session-id': 'abcdef01-2345-6789-0abc-def012345678'}) }}</p>
<p>Upon <code>GET</code>-ing this second page, you'll receive a second URL to follow in the <code>{{ config.NEXT_URL_HEADER }}</code> header.<br>Next, go to this page, and don't forget to set the session-id.<br>Keep following these URLs until you reach a page that doesn't include the header.</p>
